@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	padding:0px;
}

#warp
{
	
	width: 780px;
	padding:0px;
	clear: both;
	margin:0px auto;
	height:500px;

}

#warp_head
{
	width: 780px;
	height:100px;
	margin:0px;
	padding:0px;
  
}

#warp_text
{
	width: 780px;
	height:400px;
	margin:0px;
	padding:0px;
  
}


span
{
        color:#6495ED;
}

#says{
		width:780px;
		height: 200px;
		position: absolute;
	}

#textinput
{
	width:780px;
	height: 150px;
	overflow: hidden;
}

#postButton
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background-color:#6495ED;
	color:white;
	border:none;
	width:70px;
	height: 30px;
}

#demo
{
	width:780px;
	height:auto;
	margin:0px auto;
	
}

p
{
	color:red;
}

#deme_text
{
    color:#6495ED;
}

#likebutton
{	background-color:orange;
	color:white;
	border:none;
  	margin-right:40px;
	margin-top:30px;
}
